<script>
  jQuery(document).ready(function ($) {
    $('.minus')
      .off('click')
      .on('click', function () {
        const container = $(this).closest('.quantity-wrapper');
        let quantity = parseInt(container.find('.quantity').text());

        if (quantity > 1) {
          quantity--;
          container.find('.quantity').text(quantity);
          container.find('.quantity-hidden').val(quantity);
        }
      });

    $('.plus')
      .off('click')
      .on('click', function () {
        const container = $(this).closest('.quantity-wrapper');
        let quantity = parseInt(container.find('.quantity').text());

        quantity++;
        container.find('.quantity').text(quantity);
        container.find('.quantity-hidden').val(quantity);
      });

          {% if type == "cart" %}
            // submit form when quantity changes
            $(".plus, .minus").on("click", function () {
              $(this).closest("form").submit();
            });
          {% endif %}
  });
</script>

<div class="quantity-wrapper flex justify-center items-center px-5 border border-gray-200 rounded-full bg-[#F0F0F0]">
  <button type="button" class="minus">-</button>
  <span style="width: 40px;" class="quantity text-center">
    {% if type == 'cart' %}
      {{ quantity }}
    {% else %}
      1
    {% endif %}
  </span>
  <button type="button" class="plus">+</button>

  <input
    name="{% if type == 'cart' %}updates[{{item_key}}]{% else %}quantity{% endif %}"
    type="hidden"
    min="1"
    value="1"
    class="quantity-hidden"
  >
</div>
