<div class="bg-black py-2 text-white text-center text-sm tp_ab">
  <div class="container">{{ section.settings['ab-text'] }}</div>
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "ab-text",
      "label": "Announcement",
      "default": "Welcome to my shop!"
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}
