<div class="pb-20">
  <div class="container bg-[#F0F0F0] py-16 rounded-3xl">
    <h2 class="section_title text-center pb-11">BROWSE BY dress STYLE</h2>
    <div class="flex -mx-3 flex-wrap">
      <div class="w-5/12 px-3 mb-4">
        <a href="" class="promo_1 block h-86 text-4xl text-black font-bold p-8 rounded-2xl bg-cover"> Casual </a>
      </div>
      <div class="w-7/12 px-3 mb-4">
        <a href="" class="promo_2 block h-86 text-4xl text-black font-bold p-8 rounded-2xl bg-cover"> Casual </a>
      </div>
      <div class="w-7/12 px-3 mb-4">
        <a href="" class="promo_3 block h-86 text-4xl text-black font-bold p-8 rounded-2xl bg-cover"> Casual </a>
      </div>
      <div class="w-5/12 px-3 mb-4">
        <a href="" class="promo_4 block h-86 text-4xl text-black font-bold p-8 rounded-2xl bg-cover"> Casual </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Category Boxs",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Category Boxs",
      "settings": {}
    }
  ]
}
{% endschema %}
